Repository GiantCroissant-Lunar/pinto-bean, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/devtools, @GiantCroissant-Lunar/game

.github/CODEOWNERS:

# CODEOWNERS governs default reviewers and required approvals when code owner reviews enabled.
# Lines are pattern followed by one or more owners (GitHub usernames or teams).
# Adjust teams after creation (e.g. @GiantCroissant-Lunar/platform @GiantCroissant-Lunar/infra )

# Default owners for everything
* @GiantCroissant-Lunar/maintainers

# Terraform infrastructure
infra/terraform/ @GiantCroissant-Lunar/infra

# GitHub workflows
.github/workflows/ @GiantCroissant-Lunar/infra

# Python tooling
scripts/python/ @GiantCroissant-Lunar/devtools

# Unity project
projects/unity-complete/ @GiantCroissant-Lunar/game

chore(security): whitelist ADR filename pattern in secret validator
  .github/workflows/adr-publish.yml
  .log4brains.yml
  docs/adr/20250922-adopt-comprehensive-cicd-pipeline.md
  docs/adr/20250922-adopt-sops-with-age-for-secret-encryption.md
  docs/adr/20250922-implement-multi-layered-secret-scanning.md
  docs/adr/20250922-use-log4brains-to-manage-the-adrs.md
  docs/adr/20250922-use-markdown-architectural-decision-records.md
  docs/adr/20250922-use-terraform-cloud-for-execution.md
  docs/adr/README.md
  docs/adr/index.md
  docs/adr/template.md
  scripts/python/validate_secrets.py
  scripts/qa.ps1
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

docs: finalize ADR supporting files and README adjustments
  .gitignore
  README.md
  docs/adr/README.md
Owners: @GiantCroissant-Lunar/maintainers

chore: enhance .gitignore to cover additional cache and generated files
  .gitignore
Owners: @GiantCroissant-Lunar/maintainers

docs: add Log4brains ADR implementation and supporting scripts
  LOG4BRAINS_IMPLEMENTATION.md
  docs/.gitignore
  docs/adr/20250922-adopt-log4brains-for-adr-management.md
  scripts/adr.ps1
  scripts/nodejs/.gitignore
  scripts/nodejs/package.json
Owners: @GiantCroissant-Lunar/maintainers

chore(ci): fix labels workflow YAML syntax
  .github/labels.yml
  .github/workflows/labels.yml
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra

chore(ci): fix labels workflow YAML syntax
  .github/labels.yml
  .github/workflows/labels.yml
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra

revert(ci): remove labels sync workflow from this branch
  .github/labels.yml
  .github/workflows/labels.yml
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra

chore(ci): fix labels workflow YAML syntax (#13)
  .github/labels.yml
  .github/workflows/labels.yml
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra

fix(docs): correct adr.ps1 build command, title handling and path robustness
  scripts/adr.ps1
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

fix(docs): correct adr.ps1 build command, title handling and path robustness
  scripts/adr.ps1
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

chore(security): whitelist ADR filename pattern in secret validator
  .github/workflows/adr-publish.yml
  .log4brains.yml
  docs/adr/20250922-adopt-comprehensive-cicd-pipeline.md
  docs/adr/20250922-adopt-sops-with-age-for-secret-encryption.md
  docs/adr/20250922-implement-multi-layered-secret-scanning.md
  docs/adr/20250922-use-log4brains-to-manage-the-adrs.md
  docs/adr/20250922-use-markdown-architectural-decision-records.md
  docs/adr/20250922-use-terraform-cloud-for-execution.md
  docs/adr/README.md
  docs/adr/index.md
  docs/adr/template.md
  scripts/python/validate_secrets.py
  scripts/qa.ps1
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

docs: finalize ADR supporting files and README adjustments
  .gitignore
  README.md
  docs/adr/README.md
Owners: @GiantCroissant-Lunar/maintainers

docs: add Log4brains ADR implementation and supporting scripts
  LOG4BRAINS_IMPLEMENTATION.md
  docs/.gitignore
  docs/adr/20250922-adopt-log4brains-for-adr-management.md
  scripts/adr.ps1
  scripts/nodejs/.gitignore
  scripts/nodejs/package.json
Owners: @GiantCroissant-Lunar/maintainers

chore: enhance .gitignore to cover additional cache and generated files
  .gitignore
Owners: @GiantCroissant-Lunar/maintainers

fix: final workflow fixes - CodeQL security and pre-commit config
  .gitignore
  .pre-commit-config.yaml
  scripts/python/ai_review/cli.py
  scripts/python/ai_review/tests/test_code_analyzer.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

chore: add scoped .gitignore files for Python and Node.js scripts
  scripts/.gitignore
  scripts/python/.gitignore
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

feat: add comprehensive agent rule system and GitHub templates
  .agent/adapters/claude.md
  .agent/adapters/copilot.md
  .agent/adapters/gemini.md
  .agent/adapters/github-coding-agent.md
  .agent/adapters/windsurf.md
  .agent/base/00-index.md
  .agent/base/10-principles.md
  .agent/base/20-rules.md
  .agent/base/30-workflows.md
  .agent/base/40-glossary.md
  .agent/meta/VERSION
  .github/PULL_REQUEST_TEMPLATE.md
  .github/commit-template.txt
  .github/copilot-instructions.md
  .github/workflows/commit-message-lint.yml
  AGENTS.md
  CLAUDE.md
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra

docs: add foundational RFCs for service platform architecture
  docs/rfcs/rfc-0001-service-platform-core.md
  docs/rfcs/rfc-0002-codegen-and-consumption.md
  docs/rfcs/rfc-0003-selection-strategies.md
Owners: @GiantCroissant-Lunar/maintainers

Create dotnet folder structure with .gitkeep files (#15)
  dotnet/.gitkeep
  dotnet/Yokan.PintoBean/.github/workflows/.gitkeep
  dotnet/Yokan.PintoBean/.gitkeep
  dotnet/Yokan.PintoBean/docs/rfcs/.gitkeep
  dotnet/Yokan.PintoBean/samples/.gitkeep
  dotnet/Yokan.PintoBean/src/.gitkeep
  dotnet/Yokan.PintoBean/tests/.gitkeep
Owners: @GiantCroissant-Lunar/maintainers

chore(security): suppress UUID false positives in secret validator entropy scan
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/devtools

P0-01: Initialize Yokan.PintoBean solution under /dotnet with 4-tier architecture + CI (#16)
  .github/workflows/dotnet.yml
  README.md
  docs/rfcs/index.md
  dotnet/.gitignore
  dotnet/Yokan.PintoBean/Directory.Build.props
  dotnet/Yokan.PintoBean/Yokan.PintoBean.sln
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Console/PintoBean.Hello.Demo.Console.csproj
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Console/Program.cs
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Unity/DemoService.cs
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Unity/PintoBean.Hello.Demo.Unity.asmdef
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Abstractions/PintoBeanAbstractions.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Abstractions/Yokan.PintoBean.Abstractions.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/PintoBeanCodeGen.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/Yokan.PintoBean.CodeGen.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Providers.Stub/PintoBeanProvidersStub.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Providers.Stub/Yokan.PintoBean.Providers.Stub.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/PintoBeanRuntime.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/Yokan.PintoBean.Runtime.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/CodeGenTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/GlobalUsings.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/Yokan.PintoBean.CodeGen.Tests.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/GlobalUsings.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/RuntimeTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/Yokan.PintoBean.Runtime.Tests.csproj
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers

Add global.json to pin .NET SDK version for Yokan.PintoBean (#17)
  .github/workflows/dotnet.yml
  dotnet/Yokan.PintoBean/global.json
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers

P0-04: Add Directory.Build.props and Directory.Packages.props (central package mgmt) (#18)
  dotnet/Yokan.PintoBean/Directory.Build.props
  dotnet/Yokan.PintoBean/Directory.Packages.props
  dotnet/Yokan.PintoBean/global.json
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Abstractions/Yokan.PintoBean.Abstractions.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/Yokan.PintoBean.CodeGen.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Providers.Stub/Yokan.PintoBean.Providers.Stub.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/Yokan.PintoBean.Runtime.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/Yokan.PintoBean.CodeGen.Tests.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/Yokan.PintoBean.Runtime.Tests.csproj
Owners: @GiantCroissant-Lunar/maintainers

Add RFC seed files to dotnet solution docs directory (#19)
  dotnet/Yokan.PintoBean/README.md
  dotnet/Yokan.PintoBean/docs/rfcs/.gitkeep
  dotnet/Yokan.PintoBean/docs/rfcs/index.md
  dotnet/Yokan.PintoBean/docs/rfcs/rfc-0001-service-platform-core.md
  dotnet/Yokan.PintoBean/docs/rfcs/rfc-0002-codegen-and-consumption.md
  dotnet/Yokan.PintoBean/docs/rfcs/rfc-0003-selection-strategies.md
Owners: @GiantCroissant-Lunar/maintainers

Update dotnet.yml to minimal specification per P0-02 (#20)
  .github/workflows/dotnet.yml
Owners: @GiantCroissant-Lunar/infra

fix(ci): satisfy yamllint for dotnet workflow (document start, brackets, indent)
  .github/workflows/dotnet.yml
Owners: @GiantCroissant-Lunar/infra

Add Tier-1 seed contract (IHelloService) and DTOs for PintoBean service platform (#26)
  dotnet/Yokan.PintoBean/Yokan.PintoBean.sln
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Console/Program.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Abstractions/HelloModels.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Abstractions/IHelloService.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Abstractions.Tests/GlobalUsings.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Abstractions.Tests/HelloRequestTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Abstractions.Tests/HelloResponseTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Abstractions.Tests/IHelloServiceTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Abstractions.Tests/Yokan.PintoBean.Abstractions.Tests.csproj
Owners: @GiantCroissant-Lunar/maintainers

fix(ci): ensure pre-commit deps install with transitive dependencies (remove broken heredoc)
  .github/workflows/pre-commit.yml
Owners: @GiantCroissant-Lunar/infra

Implement CodeGen attributes (RealizeService, GenerateRegistry) per RFC-0002 (#27)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/GenerateRegistryAttribute.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/RealizeServiceAttribute.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/AttributeUsageSmokeTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/GenerateRegistryAttributeTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/RealizeServiceAttributeTests.cs
Owners: @GiantCroissant-Lunar/maintainers

Implement P1-05: Registry runtime with IServiceRegistry and typed For<T>() provider resolution (#28)
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Console/PintoBean.Hello.Demo.Console.csproj
  dotnet/Yokan.PintoBean/samples/PintoBean.Hello.Demo.Console/Program.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IProviderRegistration.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IServiceRegistry.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/Platform.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/Priority.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ProviderCapabilities.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceCollectionExtensions.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceRegistry.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/Yokan.PintoBean.Runtime.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/AcceptanceCriteriaTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ProviderCapabilitiesTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/RuntimeTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ServiceCollectionExtensionsTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ServiceRegistryTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/Yokan.PintoBean.Runtime.Tests.csproj
Owners: @GiantCroissant-Lunar/maintainers

Implement incremental source generator for reverse-mode façade generation (#29)
  dotnet/Yokan.PintoBean/samples/PintoBean.GeneratorTest/HelloService.cs
  dotnet/Yokan.PintoBean/samples/PintoBean.GeneratorTest/PintoBean.GeneratorTest.csproj
  dotnet/Yokan.PintoBean/samples/PintoBean.GeneratorTest/Program.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/PintoBeanCodeGen.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/Yokan.PintoBean.CodeGen.csproj
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IAspectRuntime.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IResilienceExecutor.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/SourceGeneratorTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/Yokan.PintoBean.CodeGen.Tests.csproj
Owners: @GiantCroissant-Lunar/maintainers

fix(ci): ensure pre-commit deps install with transitive dependencies (remove broken heredoc)
  .github/workflows/build-precommit-image.yml
  .github/workflows/pre-commit-docker.yml
  infra/docker/Dockerfile.precommit
  scripts/python/requirements-dev.lock
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

ci: optimize CodeQL workflow with path filtering
  .github/workflows/codeql.yml
Owners: @GiantCroissant-Lunar/infra

ci: optimize CodeQL workflow with path filtering
  .github/workflows/codeql.yml
Owners: @GiantCroissant-Lunar/infra

ci: optimize CodeQL workflow with path filtering (#32)
  .github/workflows/codeql.yml
Owners: @GiantCroissant-Lunar/infra

chore(pre-commit): scope Unity .meta hook to projects/* or paths containing /Assets/
  .gitignore
  build/nuke/.nuke/parameters.json
  build/nuke/build.cmd
  build/nuke/build.ps1
  build/nuke/build.sh
  build/nuke/build/.editorconfig
  build/nuke/build/Build.cs
  build/nuke/build/Configuration.cs
  build/nuke/build/Directory.Build.props
  build/nuke/build/Directory.Build.targets
  build/nuke/build/_build.csproj
  build/nuke/build/_build.csproj.DotSettings
  scripts/python/tools/hooks/unity_meta_check.py
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

chore(pre-commit): scope Unity .meta hook to projects/* or paths containing /Assets/ (#33)
  .gitignore
  build/nuke/.nuke/parameters.json
  build/nuke/build.cmd
  build/nuke/build.ps1
  build/nuke/build.sh
  build/nuke/build/.editorconfig
  build/nuke/build/Build.cs
  build/nuke/build/Configuration.cs
  build/nuke/build/Directory.Build.props
  build/nuke/build/Directory.Build.targets
  build/nuke/build/_build.csproj
  build/nuke/build/_build.csproj.DotSettings
  scripts/python/tools/hooks/unity_meta_check.py
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

ci: optimize Trivy workflow frequency
  .github/workflows/trivy.yml
Owners: @GiantCroissant-Lunar/infra

fix(ci): ensure pre-commit deps install with transitive dependencies (remove broken heredoc)
  .github/workflows/build-precommit-image.yml
  .github/workflows/pre-commit-docker.yml
  infra/docker/Dockerfile.precommit
  scripts/python/requirements-dev.lock
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

fix(ci): ensure pre-commit deps install with transitive dependencies (remove broken heredoc) (#34)
  .github/workflows/build-precommit-image.yml
  .github/workflows/pre-commit-docker.yml
  infra/docker/Dockerfile.precommit
  scripts/python/requirements-dev.lock
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools
