Repository GiantCroissant-Lunar/pinto-bean, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/devtools, @GiantCroissant-Lunar/game

Add Selection Strategies Quickstart Documentation (RFC-0003) (#61)
  README.md
  docs/rfcs/index.md
  docs/selection-strategies-quickstart.md
Owners: @GiantCroissant-Lunar/maintainers

Add category-level DI extension methods for selection strategies (#62)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceCollectionExtensions.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/IntegrationTests.cs
Owners: @GiantCroissant-Lunar/maintainers

fix: use correct username for Project v2 queries
  .github/workflows/projects-v2-auto.yml
Owners: @GiantCroissant-Lunar/infra

Add BenchmarkDotNet micro-harness for selection strategy performance measurement (#63)
  .gitignore
  dotnet/Yokan.PintoBean/Directory.Packages.props
  dotnet/Yokan.PintoBean/Yokan.PintoBean.sln
  dotnet/Yokan.PintoBean/benchmarks/Yokan.PintoBean.Benchmarks/Program.cs
  dotnet/Yokan.PintoBean/benchmarks/Yokan.PintoBean.Benchmarks/README.md
  dotnet/Yokan.PintoBean/benchmarks/Yokan.PintoBean.Benchmarks/SelectionStrategyBenchmarks.cs
  dotnet/Yokan.PintoBean/benchmarks/Yokan.PintoBean.Benchmarks/Yokan.PintoBean.Benchmarks.csproj
Owners: @GiantCroissant-Lunar/maintainers

feat: add auto status updates for closed/reopened issues in Project v2
  .github/workflows/projects-v2-auto.yml
Owners: @GiantCroissant-Lunar/infra

Implement P2-11: Façade integration test – strategies invoked end-to-end (#66)
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/IntegrationTests.cs
Owners: @GiantCroissant-Lunar/maintainers

chore(security): add allowlist for known-benign benchmark token to pass pre-commit
  .github/workflows/projects-v2-status-sync.yml
  dotnet/ConsoleGame/scripts/publish-plugin.ps1
  dotnet/ConsoleGame/scripts/run-with-plugin.ps1
  dotnet/ConsoleGame/src/ConsoleGame.App/ConsoleGame.App.csproj
  dotnet/ConsoleGame/src/ConsoleGame.App/HostPluginContext.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Messages.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/PluginLoadContext.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/SelfLoader.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/ConsoleGame.Contracts.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPluginContext.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPluginMetadata.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IRuntimePlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/PluginAttribute.cs
  dotnet/ConsoleGame/src/ConsoleGame.Dungeon.Plugin/ConsoleGame.Dungeon.Plugin.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Dungeon.Plugin/DungeonPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/ConsoleGame.TerminalLib.csproj
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/TuiPlugin.cs
  dotnet/Yokan.PintoBean/benchmarks/Yokan.PintoBean.Benchmarks/README.md
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

fix: correct GraphQL response structure and remove comment permissions
  .github/workflows/projects-v2-status-sync.yml
Owners: @GiantCroissant-Lunar/infra

Implement FanOut error policy for aggregation (Continue vs FailFast) (#67)
  dotnet/Yokan.PintoBean/samples/PintoBean.StrategyDemo.Console/Program.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/FanOutAggregationOptions.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/FanOutAggregator.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/FanOutErrorPolicy.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/FanOutAggregatorTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/FanOutErrorPolicyTests.cs
Owners: @GiantCroissant-Lunar/maintainers

feat: enhance Project v2 workflow with complete issue lifecycle
  .github/workflows/projects-v2-status-sync.yml
Owners: @GiantCroissant-Lunar/infra

feat: add test file for PR lifecycle automation
  test-pr-lifecycle.md
Owners: @GiantCroissant-Lunar/maintainers

feat: add test file for PR lifecycle automation (#72)
  test-pr-lifecycle.md
Owners: @GiantCroissant-Lunar/maintainers

Add explicit shard map support to ShardedSelectionStrategy with hash fallback (#70)
  docs/rfcs/rfc-0003-selection-strategies.md
  docs/selection-strategies-quickstart.md
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTests.cs
Owners: @GiantCroissant-Lunar/maintainers

feat: demonstrate Project v2 auto-add functionality
  fix-issue-64.md
Owners: @GiantCroissant-Lunar/maintainers

feat: demonstrate Project v2 auto-add functionality (#74)
  fix-issue-64.md
Owners: @GiantCroissant-Lunar/maintainers

feat: complete end-to-end Project v2 workflow test
  end-to-end-test-complete.md
Owners: @GiantCroissant-Lunar/maintainers

test: trigger workflow to update issue #69 status
  .github/workflows/projects-v2-status-sync.yml
  ConsoleGame.sln.sln
  dotnet/ConsoleGame/ConsoleGame.sln
  dotnet/ConsoleGame/src/ConsoleGame.App/PluginLoadContext.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/SelfLoader.cs
  dotnet/ConsoleGame/src/ConsoleGame.Dungeon.Plugin/ConsoleGame.Dungeon.Plugin.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Dungeon.Plugin/DungeonPlugin.cs
  end-to-end-test-complete.md
  run-output.txt
  scripts/list-messagepipe-services.ps1
  test-status-update.md
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers

P3-01: Implement IResilienceExecutor + ResilienceContext with pass-through default (#78)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/NoOpResilienceExecutor.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ResilienceContext.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceCollectionExtensions.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/IntegrationTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ResilienceContextTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ResilienceExecutorTests.cs
Owners: @GiantCroissant-Lunar/maintainers

fix: update Project v2 workflow Status field matching
  .github/workflows/projects-v2-status-sync.yml
Owners: @GiantCroissant-Lunar/infra

fix: resolve issue #79 - test Project v2 workflow
  test-fix.md
Owners: @GiantCroissant-Lunar/maintainers

Add StartOperation method to IAspectRuntime interface for general operation tracking (#84)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IAspectRuntime.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTelemetryTests.cs
Owners: @GiantCroissant-Lunar/maintainers

P3-03: Update façade generator to use StartOperation pattern for cleaner telemetry lifecycle (#87)
  dotnet/Yokan.PintoBean/samples/PintoBean.GeneratorTest/Generated/Yokan.PintoBean.CodeGen/Yokan.PintoBean.CodeGen.PintoBeanCodeGen/HelloService.g.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/PintoBeanCodeGen.cs
Owners: @GiantCroissant-Lunar/maintainers

feat: implement Python-based Project v2 automation
  .github/workflows/projects-v2-status-sync.yml
  scripts/python/requirements.txt
  scripts/python/update_project_status.py
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/devtools

feat: implement Python-based Project v2 automation
  .github/workflows/projects-v2-status-sync.yml
  scripts/python/requirements.txt
  scripts/python/update_project_status.py
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/devtools

fix: replace ambiguous unicode characters
  scripts/python/update_project_status.py
Owners: @GiantCroissant-Lunar/devtools

chore: remove workflow test artifacts
  ConsoleGame.sln.sln
  LOG4BRAINS_IMPLEMENTATION.md
  end-to-end-test-complete.md
  fix-issue-64.md
  run-output.txt
  test-fix.md
  test-pr-lifecycle.md
  test-status-update.md
Owners: @GiantCroissant-Lunar/maintainers

docs(log4brains): summarize initial implementation
  docs/LOG4BRAINS_IMPLEMENTATION.md
Owners: @GiantCroissant-Lunar/maintainers

feat(di): add splat generator and migrate runtime plugins
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/ConsoleGame.Contracts.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IAudioService.cs
  dotnet/ConsoleGame/src/ConsoleGame.Dungeon.Plugin/DungeonComposition.cs
  dotnet/ConsoleGame/src/ConsoleGame.Dungeon.Plugin/DungeonPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio.PureDiProbe/ConsoleGame.Plugin.Audio.PureDiProbe.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio.PureDiProbe/ProbeRoot.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio.PureDiProbe/README.md
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/AudioComposition.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/AudioOptions.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/AudioPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/AudioRoot.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/AudioServiceCollectionExtensions.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/ConsoleGame.Plugin.Audio.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/DiSmokeTest.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/LibVlcAudioService.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/NoAudioService.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Audio/PureDiSmoke.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Battle/BattleComposition.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Battle/BattlePlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Battle/ConsoleGame.Plugin.Battle.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Hud/ConsoleGame.Plugin.Hud.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Hud/HudComposition.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Hud/HudPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Inventory/ConsoleGame.Plugin.Inventory.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Inventory/InventoryComposition.cs
  dotnet/ConsoleGame/src/ConsoleGame.Plugin.Inventory/InventoryPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.SplatSupport.Generators/AnalyzerReleases.Shipped.md
  dotnet/ConsoleGame/src/ConsoleGame.SplatSupport.Generators/AnalyzerReleases.Unshipped.md
  dotnet/ConsoleGame/src/ConsoleGame.SplatSupport.Generators/ConsoleGame.SplatSupport.Generators.csproj
  dotnet/ConsoleGame/src/ConsoleGame.SplatSupport.Generators/SplatCompositionGenerator.cs
Owners: @GiantCroissant-Lunar/maintainers

feat(app): adopt generic host with System.CommandLine
  dotnet/ConsoleGame/src/ConsoleGame.App/ConsoleGame.App.csproj
  dotnet/ConsoleGame/src/ConsoleGame.App/Hosting/PluginHostOptions.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Hosting/PluginRuntimeHostedService.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/appsettings.json
  global.json
Owners: @GiantCroissant-Lunar/maintainers

chore: ignore dotnet tool installs
  .gitignore
Owners: @GiantCroissant-Lunar/maintainers

.github/CODEOWNERS:

# CODEOWNERS governs default reviewers and required approvals when code owner reviews enabled.
# Lines are pattern followed by one or more owners (GitHub usernames or teams).
# Adjust teams after creation (e.g. @GiantCroissant-Lunar/platform @GiantCroissant-Lunar/infra )

# Default owners for everything
* @GiantCroissant-Lunar/maintainers

# Terraform infrastructure
infra/terraform/ @GiantCroissant-Lunar/infra

# GitHub workflows
.github/workflows/ @GiantCroissant-Lunar/infra

# Python tooling
scripts/python/ @GiantCroissant-Lunar/devtools

# Unity project
projects/unity-complete/ @GiantCroissant-Lunar/game
