Repository GiantCroissant-Lunar/pinto-bean, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/devtools, @GiantCroissant-Lunar/game

.github/CODEOWNERS:

# CODEOWNERS governs default reviewers and required approvals when code owner reviews enabled.
# Lines are pattern followed by one or more owners (GitHub usernames or teams).
# Adjust teams after creation (e.g. @GiantCroissant-Lunar/platform @GiantCroissant-Lunar/infra )

# Default owners for everything
* @GiantCroissant-Lunar/maintainers

# Terraform infrastructure
infra/terraform/ @GiantCroissant-Lunar/infra

# GitHub workflows
.github/workflows/ @GiantCroissant-Lunar/infra

# Python tooling
scripts/python/ @GiantCroissant-Lunar/devtools

# Unity project
projects/unity-complete/ @GiantCroissant-Lunar/game

Revert "ci: optimize Trivy workflow frequency"
  .github/workflows/trivy.yml
Owners: @GiantCroissant-Lunar/infra

ci: optimize Trivy workflow frequency
  .github/workflows/trivy.yml
Owners: @GiantCroissant-Lunar/infra

Implement analyzer rules SG0001-SG0005 for tier guardrails and validation (#30)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/AnalyzerReleases.Shipped.md
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/AnalyzerReleases.Unshipped.md
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/PintoBeanAnalyzer.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.CodeGen/Yokan.PintoBean.CodeGen.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.CodeGen.Tests/PintoBeanAnalyzerTests.cs
Owners: @GiantCroissant-Lunar/maintainers

style(ci): ruff-format applied to validate_secrets.py
  renovate.json
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

style(ci): ruff-format applied to validate_secrets.py (#52)
  renovate.json
  scripts/python/validate_secrets.py
Owners: @GiantCroissant-Lunar/maintainers, @GiantCroissant-Lunar/devtools

fix(ci): use repository owner for Docker registry auth
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix(ci): use hardcoded username for Docker registry auth
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix(ci): use hardcoded username for Docker registry auth
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

Implement core selection strategy abstractions (ISelectionStrategy + DI contracts) (#41)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ISelectionStrategy.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/SelectionContext.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceRegistry.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTests.cs
Owners: @GiantCroissant-Lunar/maintainers

fix(ci): temporarily disable Docker pre-commit workflow
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix(ci): configure Docker workflow for public image
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix(ci): disable Docker pre-commit workflow temporarily
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix: use dynamic repository path for Docker image
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix: use lowercase Docker registry path
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

Implement enhanced PickOne strategy with filtering, deterministic tie-break, and TTL cache (#53)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/PlatformDetector.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/SelectionCache.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/EnhancedPickOneStrategyTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/PlatformDetectorTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTests.cs
Owners: @GiantCroissant-Lunar/maintainers

fix: implement force_rebuild parameter in Docker workflow
  .github/workflows/build-precommit-image.yml
Owners: @GiantCroissant-Lunar/infra

fix: correct boolean comparison for force_rebuild
  .github/workflows/build-precommit-image.yml
Owners: @GiantCroissant-Lunar/infra

chore: add container environment diagnostics for pre-commit troubleshooting
  .github/workflows/pre-commit-docker.yml
  scripts/python/requirements-dev.txt
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/devtools

fix: add cache-busting to Docker build for requirements installation
  .github/workflows/build-precommit-image.yml
  infra/docker/Dockerfile.precommit
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers

chore: add enhanced diagnostics for Python package installation
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix: add PYTHONPATH for user site-packages in Docker image
  infra/docker/Dockerfile.precommit
Owners: @GiantCroissant-Lunar/maintainers

Implement FanOut selection strategy with fire-and-forget and aggregation semantics (#54)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTests.cs
Owners: @GiantCroissant-Lunar/maintainers

chore: simplify diagnostics and check Git repository status
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

fix: add correct Git safe directory for Docker container
  .github/workflows/pre-commit-docker.yml
Owners: @GiantCroissant-Lunar/infra

Implement Sharded selection strategy with default analytics shard key and resolve merge conflicts (#55)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTests.cs
Owners: @GiantCroissant-Lunar/maintainers

Implement selection strategies DI integration with RFC-0003 category defaults (#56)
  dotnet/Yokan.PintoBean/samples/PintoBean.StrategyDemo.Console/PintoBean.StrategyDemo.Console.csproj
  dotnet/Yokan.PintoBean/samples/PintoBean.StrategyDemo.Console/Program.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategyFactory.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ISelectionStrategyFactory.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/SelectionStrategyOptions.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceCollectionExtensions.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/DefaultSelectionStrategyFactoryTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/IntegrationTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyOptionsTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ServiceCollectionExtensionsTests.cs
Owners: @GiantCroissant-Lunar/maintainers

fix: add document headers and fix comment spacing in YAML files
  .gemini/config.yaml
  scripts/nodejs/pnpm-workspace.yaml
Owners: @GiantCroissant-Lunar/maintainers

chore: remove redundant pre-commit workflow
  .github/workflows/pre-commit.yml
Owners: @GiantCroissant-Lunar/infra

Implement IProviderSelectionCache interface with TTL and ProviderChanged wiring (#57)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IProviderSelectionCache.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/SelectionCache.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ProviderSelectionCacheIntegrationTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/ProviderSelectionCacheTests.cs
Owners: @GiantCroissant-Lunar/maintainers

fix: add missing YAML document start markers and exclude lock files
  .github/workflows/adr-publish.yml
  .github/workflows/dotnet.yml
  .github/workflows/terraform.yml
  .pre-commit-config.yaml
  scripts/nodejs/pnpm-lock.yaml
Owners: @GiantCroissant-Lunar/infra, @GiantCroissant-Lunar/maintainers

feat(console): add ConsoleGame solution with AssemblyLoadContext demo and tests
  dotnet/ConsoleGame/ConsoleGame.sln
  dotnet/ConsoleGame/README.md
  dotnet/ConsoleGame/src/ConsoleGame.App/ConsoleGame.App.csproj
  dotnet/ConsoleGame/src/ConsoleGame.App/Messages.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/SelfLoader.cs
  dotnet/ConsoleGame/tests/ConsoleGame.Tests/ConsoleGame.Tests.csproj
  dotnet/ConsoleGame/tests/ConsoleGame.Tests/SelfLoaderTests.cs
  dotnet/ConsoleGame/tests/ConsoleGame.Tests/UnitTest1.cs
Owners: @GiantCroissant-Lunar/maintainers

fix: add missing YAML document start markers and improve pre-commit config
  .github/dependabot.yml
  .github/labels.yml
  .pre-commit-config.yaml
Owners: @GiantCroissant-Lunar/maintainers

feat(console): add Terminal.Gui-based lib and plugin AssemblyLoadContext with dependency resolver; tests and fallback path
  dotnet/ConsoleGame/ConsoleGame.sln
  dotnet/ConsoleGame/src/ConsoleGame.App/PluginLoadContext.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/SelfLoader.cs
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/Class1.cs
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/ConsoleGame.TerminalLib.csproj
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/TuiInfo.cs
  dotnet/ConsoleGame/tests/ConsoleGame.Tests/TerminalLibLoaderTests.cs
Owners: @GiantCroissant-Lunar/maintainers

chore(console): normalize line endings and add contracts; tests green
  dotnet/ConsoleGame/ConsoleGame.sln
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
  dotnet/ConsoleGame/src/ConsoleGame.App/SelfLoader.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/Class1.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/ConsoleGame.Contracts.csproj
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/ConsoleGame.TerminalLib.csproj
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/TuiInfo.cs
  dotnet/ConsoleGame/tests/ConsoleGame.Tests/TerminalLibLoaderTests.cs
Owners: @GiantCroissant-Lunar/maintainers

Implement strategy telemetry hooks for PickOne, FanOut, and Sharded selection strategies (#58)
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/DefaultSelectionStrategies.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/IAspectRuntime.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyTelemetryTests.cs
Owners: @GiantCroissant-Lunar/maintainers

feat(console): enhance ConsoleGame.Contracts (metadata, context, attribute) and annotate plugin; tests passing
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPlugin.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPluginContext.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/IPluginMetadata.cs
  dotnet/ConsoleGame/src/ConsoleGame.Contracts/PluginAttribute.cs
  dotnet/ConsoleGame/src/ConsoleGame.TerminalLib/TuiInfo.cs
Owners: @GiantCroissant-Lunar/maintainers

Add HelloProviderA/B sample test providers for IHelloService strategy tests (#60)
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/HelloSelectionStrategyTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/HelloTestProviders.cs
Owners: @GiantCroissant-Lunar/maintainers

feat(console): add env-driven plugin path and script to run with plugin
  dotnet/ConsoleGame/scripts/run-with-plugin.ps1
  dotnet/ConsoleGame/src/ConsoleGame.App/Program.cs
Owners: @GiantCroissant-Lunar/maintainers

Add DI options and configuration binding support for SelectionStrategyOptions (#59)
  dotnet/Yokan.PintoBean/samples/PintoBean.ConfigurationDemo.Console/PintoBean.ConfigurationDemo.Console.csproj
  dotnet/Yokan.PintoBean/samples/PintoBean.ConfigurationDemo.Console/Program.cs
  dotnet/Yokan.PintoBean/samples/PintoBean.ConfigurationDemo.Console/appsettings.json
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/SelectionStrategyOptions.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/ServiceCollectionExtensions.cs
  dotnet/Yokan.PintoBean/src/Yokan.PintoBean.Runtime/Yokan.PintoBean.Runtime.csproj
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/SelectionStrategyOptionsIntegrationTests.cs
  dotnet/Yokan.PintoBean/tests/Yokan.PintoBean.Runtime.Tests/Yokan.PintoBean.Runtime.Tests.csproj
Owners: @GiantCroissant-Lunar/maintainers

ci: add GitHub Projects v2 auto-management workflow
  .github/workflows/projects-v2-auto.yml
Owners: @GiantCroissant-Lunar/infra
